
<h3><a href="/add" class="btn btn-info"><i class="fa fa-plus"></i>  Create</a>  {{viewTitle}}</h3>
<table class="table table-striped">
  <thead>
    <tr>
       <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">City</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {{#each model}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.email}}</td>
      <td>{{this.firstname}}</td>
      <td>{{this.mobile}}</td>
      <td>{{this.city}}</td>
      <td><a class="btn btn-warning" href="/edit/{{this.id}}"><i class="fa fa-pencil fa-lg"></i></a>
      <a class="btn btn-danger" href="/delete/{{this.id}}" onclick="return confirm('Are you to delete this record ?');" ><i class="fa fa-trash fa-lg"></i></a>
      </td>
    </tr>
     {{/each}}
  </tbody>
</table>